<article class="infoCard">
    <div >
      <h2>
        {{post.title}}
      </h2>
      <div class="owner">
        Posted by {{post.user.username}} on {{format_date post.createdAt}}
      </div>
    </div>
    <div class="cardBody">
      {{post.text}}
    </div>
  </article>
  
  {{#if post.comments}}
  {{#each post.comments}}
  <article class="commentCard">
    <div>        
        <div>
            Comment by {{user.username}} on {{format_date createdAt}}
        </div>    
    </div>
    <div class="commentBody">
      {{text}}
    </div>
  </article>
  {{/each}}
  
  {{/if}}

  <form id="newComment">
      <h3>Add new comment to this post</h3>
      <div class="cardBody">        
        <textarea name="commentText" id="commentText"></textarea>
        <button type="submit" class="btn">Submit</button>
      </div>
  </form>

  <script src="/js/addComment.js"></script>