<div class="posts">
  {{#each posts}}
  <article class="infoCard">
    <div >
      <h2>
        <a href="/post/{{id}}">{{title}}</a>
      </h2>
      <div class="owner">
        Posted by {{user.username}} on {{format_date createdAt}}
      </div>
    </div>
    <div class="cardBody">
      {{text}}
    </div>
  </article>
  {{/each}}
</div>